.barDiv{
    background-color:#BB2649 ;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1100;
    top: 0;
    left: 0;
}

.barLink{
    text-decoration: none;
    color: #fff;
    font-weight: lighter;
    margin-right:15px;
}

.barLink:hover{
    scale: 115%;
}