.barDiv{
    background-color:#BB2649 ;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barLink{
    text-decoration: none;
    color: #fff;
    font-weight: lighter;
    margin-right:15px;
}

.barLink:hover{
    scale: 115%;
}