
.filterLabel{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    padding-top: 15px;
    font-size: small;
    font-weight: lighter;
    align-items: center;
    color: #BB2649;
}

.filterInput{
    margin-top: 10px;
    font-size: small;
    font-weight: lighter;
    width: 200px;
    background-color:transparent;
    border-color: #BB2649;
}