.title{
    font-weight: lighter;
    margin-bottom: 0;
    margin-top: 35px;
    color: #BB2649;
}

.titleHome{
    font-weight: lighter;
    color: #BB2649; 
    margin-top: 150px;
    margin-bottom: 0px;
}

.mainDiv{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

.text{
    font-weight: lighter;
    padding-top: 10px;
    padding-bottom: 10px;
    color:#9896A4;
}